.grettings {
  width: 100%;
  color: $colorWhite;
  font-size: 24px;
  line-height: 32px;
  padding: 160px 0 72px;
  position: relative;

  @include before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
      to right,
      rgba(4, 32, 64, 1) 70%,
      rgba(255, 255, 255, 0) 100%
    );
    max-width: 700px;
    opacity: 0.6;
  }

  @include responsive1599 {
    font-size: 20px;
    line-height: 32px;
  }

  @include responsive1279 {
    font-size: 18px;
    line-height: 32px;
    padding: 150px 0 95px;
  }

  @include responsive1023 {
    font-size: 16px;
    line-height: 25px;
    padding: 150px 0 75px;
  }

  @include responsive767 {
    font-size: 11px;
    line-height: 15px;
    padding: 100px 0 50px;
  }

  &__inner {
    position: relative;
    padding: 80px 115px;

    @include responsive1279 {
      padding: 50px 100px;
    }

    @include responsive1023 {
      padding: 30px 100px;
    }

    @include responsive767 {
      padding: 60px 40px 10px;
    }

    @include before {
      width: calc(100% - 22px);
      height: calc(100% + 15px);
      border: solid 8px $colorWhite-a5;
      left: 21px;
      top: 0px;
      border-radius: 20px;
      transform: skewX(-8deg);
      pointer-events: none;

      @include responsive1899 {
        left: 31px;
        width: calc(100% - 70px);
      }

      @include responsive1023 {
        transform: skewX(-6deg);
        left: 29px;
        width: calc(100% - 50px);
      }

      @include responsive767 {
        border-width: 5px;
        left: 10px;
        width: calc(100% - 20px);
        transform: skewX(-3deg);
      }
    }
  }

  &__content {
    max-width: 505px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;

    @include responsive1599 {
      gap: 40px;
    }

    @include responsive1279 {
      max-width: 385px;
    }

    @include responsive1023 {
      max-width: 345px;
    }

    @include responsive767 {
      max-width: 100%;
      gap: 20px;
    }
  }

  &__controls {
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    picture {
      @include responsive767 {
        width: calc(100% + 430px);
      }
    }
  }
}

.products {
  @include gradientBackgorund;
  padding-top: 160px;

  @include responsive1439 {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  @include responsive1023 {
    padding-top: 100px;
  }

  @include responsive767 {
    padding-top: 50px;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 80px;
    position: relative;
    @include whiteblock;

    @include responsive1439 {
      gap: 60px;
    }

    @include responsive1023 {
      gap: 30px;
    }

    @include responsive767 {
      flex-direction: column;
      gap: 10px;
    }
  }

  .section-title {
    padding-bottom: 100px;

    @include responsive767 {
      padding-bottom: 20px;
    }
  }

  &-slider {
    width: 700px;
    height: 450px;
    margin: 0 auto;
    overflow: visible;

    @include responsive1599 {
      max-width: 540px;
      height: 310px;
    }

    @include responsive1439 {
      max-width: 410px;
      height: 256px;
    }

    @include responsive1023 {
      max-width: 315px;
      height: 205px;
    }

    @include responsive767 {
      max-width: 290px;
      height: auto;
    }

    .swiper-wrapper {
      @include responsive767 {
        flex-direction: column;
        gap: 10px;
      }
    }

    .swiper-slide {
      position: relative;
    }
  }

  &-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include responsive767 {
      min-height: 145px;
    }

    &__media {
      position: absolute;
      top: 0;
      left: -10px;
      z-index: -1;
      border-radius: 20px;
      overflow: hidden;
      transform: skewX(-8deg);
      width: calc(100% - 20px);
      height: 100%;

      @include before {
        width: 100%;
        height: 100%;
        background: #3d190e;
        opacity: 0.7;
        left: 0;
        top: 0;
        z-index: 1;
        pointer-events: none;
      }

      @include responsive1023 {
        left: -20px;
        width: 100%;
      }

      @include responsive767 {
        left: 0;
        width: calc(100% - 20px);
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 45px;
      color: $colorWhite;
      margin: auto;
      max-width: 320px;

      @include responsive1439 {
        gap: 20px;
        max-width: 300px;
      }

      @include responsive1279 {
        max-width: 250px;
      }

      @include responsive1023 {
        font-size: 14px;
        line-height: 16px;
        max-width: 200px;
      }

      @include responsive767 {
        font-size: 12px;
        line-height: 14px;
        max-width: 225px;
        gap: 15px;
      }
    }

    &__controls {
      margin-top: -10px;

      @include responsive1439 {
        margin-top: -5px;
      }

      @include responsive767 {
        margin-top: 0;
      }

      .btn {
        padding: 20px 30px;

        @include responsive1439 {
          padding: 10px 30px;
          border-radius: 15px;
          font-size: 16px;
        }

        @include responsive1023 {
          padding: 5px 15px;
          font-size: 14px;
          gap: 5px;
          border-radius: 10px;
        }

        @include responsive767 {
          font-size: 10px;
          line-height: 16px;
          padding: 10px 15px;
        }
      }
    }

    &__link {
      font-size: 24px;
      line-height: 26px;
      @include text-decoration-hover($colorWhite);

      @include responsive1279 {
        font-size: 20px;
        line-height: 24px;
      }

      @include responsive1023 {
        font-size: 16px;
        line-height: 24px;
      }

      @include responsive767 {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

.about {
  .section-title {
  }

  &__inner {
  }

  &-numbers {
    margin-top: 70px;

    @include responsive1279 {
      margin-top: 40px;
    }

    @include responsive767 {
      margin-top: 20px;
    }

    ul {
      display: flex;
      justify-content: space-between;
      max-width: 1071px;
      width: 100%;
      margin: 0 auto;

      @include responsive1599 {
        max-width: 825px;
      }

      @include responsive1279 {
        max-width: 735px;
      }

      @include responsive767 {
        max-width: 100%;
      }
    }

    li {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include responsive767 {
        width: calc(100% / 3 - 23px);
        gap: 0;
      }
    }

    &__num {
      font-size: 70px;
      font-weight: 400;
      line-height: 72px;
      letter-spacing: 0.05em;
      font-family: $fontMoulpali;
      color: $colorBlue;

      @include responsive1279 {
        font-size: 56px;
        line-height: 66px;
      }

      @include responsive767 {
        font-size: 30px;
        line-height: 40px;
      }
    }

    &__desc {
      color: $colorBlack-a8;

      @include responsive767 {
        font-size: 11px;
        line-height: 15px;
      }
    }
  }

  &__media {
    padding: 80px 0 0;
    position: relative;
    z-index: -1;
    left: -80px;
    width: calc(100% + 160px);

    @include responsive1023 {
      padding-top: 60px;
    }

    @include responsive767 {
      padding-top: 30px;
    }

    picture {
      margin: -140px 0;
      pointer-events: none;
      position: relative;
      pointer-events: none;

      @include responsive1599 {
        margin: -100px 0;
      }

      @include responsive1279 {
        margin: -60px 0 -100px;
      }

      @include responsive1023 {
        margin: -40px 0 -100px;
      }

      @include responsive767 {
        margin: -30px 0 -100px;
        height: 580px;
      }
    }

    &__text {
      font-size: 24px;
      font-weight: 400;
      line-height: 42px;
      text-align: center;
      display: block;
      position: relative;
      z-index: 3;

      @include responsive1599 {
        font-size: 20px;
        line-height: 34px;
      }

      @include responsive1279 {
        font-size: 18px;
        line-height: 20px;
      }

      @include responsive767 {
        font-size: 12px;
        line-height: 20px;
        max-width: 48%;
        margin: 0 auto;
      }
    }

    strong {
      color: $colorBlue;
      font-weight: 500;
    }
  }

  &__controls {
    .btn {
    }
  }
}

.seat {
  @include responsive767 {
    height: 380px;
  }

  @include responsive389 {
    height: 340px;
  }

  .section-title {
  }

  &-chema {
    position: relative;
    width: 700px;
    height: 704px;
    margin: 15px auto 0;

    @include responsive1599 {
      transform: scale(0.9);
      margin-top: 0;
    }

    @include responsive1439 {
      transform: scale(0.8);
      margin-top: 0;
    }

    @include responsive1279 {
      transform: scale(1);
    }

    @include responsive1023 {
      transform: scale(0.7);
    }

    @include responsive767 {
      left: 50%;
      transform: translateX(-50%) scale(0.45);
    }

    @include responsive389 {
      transform: translateX(calc(-50% + 6px)) scale(0.4);
    }

    picture {
      width: 100%;
      height: 100%;

      @include responsive1023 {
        margin: -80px 0;
      }

      @include responsive767 {
        margin: -200px 0;
      }

      @include responsive389 {
        margin: -220px 0;
      }
    }

    &__list {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    &__item {
      position: absolute;
      font-size: 20px;

      @include responsive1279 {
        font-size: 18px;
      }

      @include responsive1023 {
        font-size: 16px;
      }

      @include responsive767 {
        font-size: 12px;
      }

      &:nth-child(1) {
        white-space: nowrap;
        right: calc(100% - 74px);
        top: 198px;

        @include responsive1279 {
          width: 220px;
          white-space: initial;
          text-align: right;
          top: 167px;
          right: calc(100% - 89px);
        }

        @include responsive767 {
          top: 177px;
        }
      }

      &:nth-child(2) {
        white-space: nowrap;
        right: calc(100% - 50px);
        top: 270px;

        @include responsive1279 {
          width: 220px;
          white-space: initial;
          text-align: left;
          top: 277px;
          right: calc(100% - 89px);
        }

        @include responsive767 {
          top: 258px;
          right: calc(100% - 99px);
          width: 150px;
          text-align: right;
        }
      }

      &:nth-child(3) {
        white-space: nowrap;
        right: calc(100% - 62px);
        top: 364px;

        @include responsive1279 {
          width: 220px;
          white-space: initial;
          text-align: left;
          top: 374px;
          right: calc(100% - 159px);
        }

        @include responsive767 {
          top: 378px;
          right: calc(100% - 129px);
          width: 150px;
          text-align: right;
        }
      }

      &:nth-child(4) {
        white-space: nowrap;
        right: calc(100% - 60px);
        top: 434px;

        @include responsive1279 {
          width: 220px;
          white-space: initial;
          text-align: left;
          top: 449px;
          right: calc(100% - 119px);
        }

        @include responsive767 {
          top: 428px;
          right: calc(100% - 119px);
          width: 150px;
          text-align: right;
        }
      }

      &:nth-child(5) {
        white-space: nowrap;
        right: calc(100% + 37px);
        top: 494px;

        @include responsive1279 {
          width: 190px;
          white-space: initial;
          text-align: left;
          top: 539px;
          right: calc(100% - 69px);
        }

        @include responsive767 {
          top: 508px;
          right: calc(100% - 119px);
          width: 150px;
          text-align: right;
        }
      }

      &:nth-child(6) {
        top: 114px;
        white-space: nowrap;
        left: calc(100% - 210px);

        @include responsive1279 {
          width: 180px;
          white-space: initial;
          text-align: left;
          top: 100px;
          left: calc(100% - 213px);
        }

        @include responsive767 {
          top: 120px;
          left: calc(100% - 263px);
        }
      }

      &:nth-child(7) {
        left: calc(100% - 203px);
        top: 192px;
        white-space: nowrap;

        @include responsive1279 {
          width: 210px;
          white-space: initial;
          text-align: left;
          top: 180px;
          left: calc(100% - 243px);
        }

        @include responsive767 {
          top: 200px;
          left: calc(100% - 243px);
        }
      }

      &:nth-child(8) {
        left: calc(100% - 143px);
        top: 236px;
        white-space: nowrap;

        @include responsive1279 {
          width: 210px;
          white-space: initial;
          text-align: left;
          top: 250px;
          left: calc(100% - 83px);
        }

        @include responsive767 {
          top: 252px;
          left: calc(100% - 115px);
          width: 150px;
        }
      }

      &:nth-child(9) {
        left: calc(100% - 102px);
        top: 319px;
        width: 400px;

        @include responsive1279 {
          width: 210px;
          white-space: initial;
          text-align: left;
          top: 340px;
          left: calc(100% - 80px);
        }

        @include responsive767 {
          top: 342px;
          left: calc(100% - 115px);
          width: 150px;
        }
      }

      &:nth-child(10) {
        left: calc(100% - 92px);
        top: 483px;
        white-space: nowrap;

        @include responsive1279 {
          width: 210px;
          white-space: initial;
          text-align: left;
          top: 450px;
          left: calc(100% - 110px);
        }

        @include responsive767 {
          width: 130px;
          top: 452px;
          left: calc(100% - 130px);
        }
      }

      &:nth-child(11) {
        left: calc(100% - 25px);
        top: 626px;
        width: 360px;

        @include responsive1279 {
          width: 210px;
          white-space: initial;
          text-align: left;
          top: 620px;
          left: calc(100% - 70px);
        }

        @include responsive767 {
          top: 694px;
          left: calc(100% - 160px);
        }
      }
    }
  }
}

.fabric {
  .section-title {
  }

  &__inner {
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive1279 {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__left {
    max-width: 745px;
    width: 100%;
    line-height: 36px;
    padding: 80px 0px;
    padding-right: 40px;

    @include responsive1599 {
      max-width: 600px;
      padding: 40px 0;
    }

    @include responsive1439 {
      max-width: 500px;
    }

    @include responsive1279 {
      width: 100%;
      max-width: 100%;
    }

    @include responsive1023 {
      line-height: 24px;
    }

    strong {
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      color: $colorBlue;
      margin-bottom: 30px;
      display: block;

      @include responsive1279 {
        font-size: 20px;
        line-height: 24px;
      }

      @include responsive1023 {
        font-size: 16px;
        line-height: 20px;
      }

      @include responsive767 {
        font-size: 12px;
        line-height: 20px;
      }
    }

    p + p {
      margin-top: 30px;

      @include responsive1279 {
        margin-top: 20px;
      }
    }

    .btn {
      margin-top: 30px;

      @include responsive1279 {
        margin-top: 20px;
      }
    }
  }

  &__right {
    width: calc(100% - 745px);
    height: 790px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    @include responsive1599 {
      width: calc(100% - 640px);
    }

    @include responsive1439 {
      width: calc(100% - 540px);
    }

    @include responsive1279 {
      width: 100%;
    }

    @include responsive1023 {
      height: 400px;
    }

    @include responsive767 {
      height: 200px;
    }

    @include before {
      right: -70px;
      top: 0;
      width: calc(100% + 150px);
      height: 100%;
      background-image: url("../img/bgfabric.png");
      background-image: image-set(
        url("../img/bgfabric.webp") type("image/webp"),
        url("../img/bgfabric.png") type("image/png")
      );
      background-position: left center;
      background-repeat: no-repeat;
      z-index: -1;

      @include responsive1023 {
        background-size: contain;
        right: -190px;
      }

      @include responsive767 {
        right: -130px;
      }
    }

    @include after {
      left: 130px;
      top: 0;
      width: 1000%;
      height: 100%;
      background-color: #efefef;
      z-index: -2;
      border-radius: 100px 0 0 100px;

      @include responsive1023 {
        border-radius: 50px 0 0 50px;
      }

      @include responsive767 {
        left: 30px;
        border-radius: 20px 0 0 20px;
      }
    }
  }

  &-slider {
    width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: 0;
    overflow: visible;

    @include responsive1599 {
      transform: translate(160px, -50px);
    }

    @include responsive1279 {
      width: 445px;
      height: 630px;
      transform: translate(0, -50px);
    }

    @include responsive1023 {
      width: 280px;
      height: 400px;
      transform: translate(0, -25px);
    }

    @include responsive767 {
      width: 135px;
      height: 186px;
      transform: translate(-15px, -15px);
    }

    .swiper {
    }

    .site-media {
      width: 100%;
      height: 100%;
    }

    .swiper-wrapper {
    }

    .swiper-slide {
      opacity: 0;
      transition: all 0.3s;

      &.swiper-slide-active {
        opacity: 1;
      }
    }
  }
}

.news {
  @include gradientBackgorund;
  padding-top: 0;

  .section-title {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 225px);

    @include responsive1279 {
      bottom: 60px;
      left: calc(50% - 155px);
    }

    @include responsive1023 {
      bottom: 67px;
      left: calc(50% - 65px);
    }

    @include responsive767 {
      position: relative;
      bottom: auto;
      left: 0;
      padding-bottom: 30px;
    }
  }

  &__inner {
    padding: 60px 0;
    position: relative;
    @include whiteblock;

    @include responsive1279 {
      padding-top: 0;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px;
    position: relative;
    z-index: 3;

    @include responsive1023 {
      gap: 35px;
    }

    @include responsive767 {
      gap: 20px;
    }

    @include responsive767 {
      grid-template-columns: 1fr;
    }
  }

  &-item {
    box-shadow: 0px 0px 10px 0px #23232333;
    border-radius: 20px;
    overflow: hidden;
  }

  &__media {
    width: 100%;
    height: auto;
    padding-top: calc(350 / 561 * 100%);
    position: relative;

    @include responsive767 {
      padding-top: calc(268 / 561 * 100%);
    }

    picture {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: $colorWhite;
    gap: 16px;

    @include responsive767 {
      padding: 30px 20px;
    }
  }

  &__date {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.05em;

    @include responsive1023 {
      font-size: 14px;
      line-height: 22px;
    }

    @include responsive767 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__name {
    min-height: 72px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.05em;

    @include responsive1439 {
      font-size: 18px;
      line-height: 24px;
    }

    @include responsive1023 {
      font-size: 16px;
      line-height: 18px;
      min-height: 90px;
    }

    @include responsive767 {
      font-size: 12px;
      line-height: 18px;
      min-height: initial;
    }
  }

  &__link {
    margin-top: auto;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: text-decoration 0.3s;

    @include responsive1023 {
      font-size: 14px;
      line-height: 22px;
    }

    @include responsive767 {
      font-size: 12px;
      line-height: 18px;
    }

    &:hover {
      text-decoration-color: transparent;
    }

    @include after {
      position: relative;
      display: block;
      width: 24px;
      height: 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.969668 13.3746C0.676777 13.0817 0.676777 12.6068 0.969668 12.3139L6.4393 6.84424L0.969668 1.37454C0.676777 1.08164 0.676777 0.60684 0.969668 0.31394C1.26256 0.02104 1.73744 0.02104 2.03033 0.31394L8.0303 6.31394C8.3232 6.60684 8.3232 7.08164 8.0303 7.37454L2.03033 13.3746C1.73744 13.6675 1.26256 13.6675 0.969668 13.3746Z' fill='%23333333'/%3e%3c/svg%3e ");

      @include responsive767 {
        width: 11px;
        height: 11px;
        background-size: 6px;
      }
    }
  }

  &__controls {
    margin-top: 60px;

    @include responsive1023 {
      margin-top: 35px;
    }

    .btn {
      border-color: $colorBlue;

      @include responsive1279 {
        padding-left: 30px;
        padding-right: 30px;
      }

      @include responsive1023 {
        padding: 15px;
        font-size: 16px;
      }
    }
  }
}
